*{padding: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
font-family: 'Plus Jakarta Sans', sans-serif
}
.main{
  margin: 0px 131.5px;
  
 
}
.heading1{
 
}
.child1{
  display: flex;
  justify-content: space-between;
   align-items: center;
   width: 78%;
  
   height: 88px;
}
a{
  text-decoration: none;
  padding: 7px 15px;
  font-size: 16px;
  color: #181818;
}
ul{
   list-style-type: none;
}
li{
  display: inline-block;
}

img{
  padding: 15px;
}
.nav2{
  padding: 15px;
}
h4{
  padding: 16px 30px;
  font-size: 16px;
  background-color: #2b7ddd;
  margin-left: 20px;
  color: white;
}
